<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="mainSuite">

    
    <test name="unitTesting">
        <classes>
            
            <class name="org.impensa.service.util.DomainEntityConverterTest" />
            
            <class name="org.impensa.dao.expensetemplate.ExpenseTemplateDAONGTest" />
               
            <class name="org.impensa.service.dao.function.FunctionDAONGTest" />
     
            <class name="org.impensa.service.dao.org.OrgDAONGTest" />
            
            <class name="org.impensa.service.dao.role.RoleDAONGTest" />
            
            <class name="org.impensa.service.dao.user.UserDAONGTest" />
            
            <class name="org.impensa.service.login.LoginServiceNGTest" />
            
             <class name="org.impensa.service.txn.TxnServiceNGTest" />
             
              
            
            
   
            
    


        </classes>
    </test>

</suite>
